<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-movie-heading" jhiTranslate="jhipsterDemoApp.movie.home.createOrEditLabel">Create or edit a Movie</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterDemoApp.movie.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterDemoApp.movie.year" for="field_year">Year</label>
                    <input type="number" class="form-control" name="year" id="field_year"
                           formControlName="year"/>
                    <div *ngIf="editForm.get('year')!.invalid && (editForm.get('year')!.dirty || editForm.get('year')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('year')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1900 }">
                            This field should be at least 1900.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('year')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 2100 }">
                            This field cannot be more than 2100.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('year')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="jhipsterDemoApp.movie.actor" for="field_actors">Actor</label>
                    <ng-select id="field_actors" multiple name="actors" formControlName="actors"
                               [items]="actors"
                               bindLabel="name"
                               [multiple]="true"
                               placeholder="Select Actors">
                    </ng-select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterDemoApp.movie.director" for="field_director">Director</label>
                    <ng-select id="field_director" name="director" formControlName="director"
                               [items]="directors"
                               bindLabel="name"                               
                               placeholder="Select Director">
                    </ng-select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
