<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterDemoApp.actor.home.title">Actors Upload</span>

        <input class="btn btn-primary float-right jh-create-entity create-actor" type="file" (change)="handleUpload($event)" accept=".csv" />
    </h2>
    
    <button id="jh-saveall-entity" class="btn btn-primary float-right jh-create-entity create-actor" (click)="saveAll()">
        <fa-icon icon="plus"></fa-icon>
        <span  jhiTranslate="jhipsterDemoApp.actor.home.uploadLabel">
        Save All Actors
        </span>
    </button>    

    <div class="table-responsive" id="entities" *ngIf="dataList?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="jhipsterDemoApp.actor.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterDemoApp.actor.birthDate">Birth Date</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let actor of dataList">
                    <td>{{ actor.name }}</td>
                    <td>{{ actor.birthDate }}</td>                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
